<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Task</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="container">
    <div th:insert="header::menu"></div>
    <h2>Create New task</h2>
    <form th:action="@{/tasks/create/todos/{todoId}(todoId=${todoId})}" th:object="${task}" method="post">
        <div class="form-group row">
            <label th:for="*{id}" class="col-sm-2 col-form-label">Name: </label>
            <input type="text" th:id="*{id}" th:field="*{name}"/>
        </div>
        <div class="form-group row">
            <label th:for="*{priority}" class="col-sm-2 col-form-label">Priority:</label>
            <select size="1" th:id="*{priority}" th:field="*{priority}">
                <option th:each="priority : ${priorities}"
                        th:value="${priority}"
                        th:text="${priority.name()}">
                </option>
            </select>
        </div>
        <p>
            <input type="submit" value="Register" class="btn btn-info col-2"/>
            <input type="reset" value="Clear" class="btn btn-light col-2"/>
        </p>
        <input type="hidden" name="todoId" th:value="${todoId}">
    </form>
</div>
</body>
</html>